.auth-container {
  justify-content: center;
  text-align: center;
  bottom: 100%;
  display: flex;
  flex-direction: column;
  margin: 5%;
  
}

.sign-container {

  bottom: 100%;
  display: flex;
  flex-direction: column;
}

