<div class="auth-container">
  <h2>Authorization</h2>

  <mat-tab-group mat-align-tabs="start">

    <mat-tab label="Sign In">
      <form [formGroup]="signInForm">
        <div class="sign-container">      
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email"> 
          </mat-form-field>
  
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        
        <button (click)="login()" mat-raised-button color="primary">Sign In</button>
      </form>
    </mat-tab>
    
    <mat-tab label="Sign Up">
      <form [formGroup]="signUpForm">
        <div class="sign-container">    

          <mat-form-field>
            <mat-label>Full name</mat-label>
            <input matInput formControlName="fullName"> 
          </mat-form-field>

          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email"> 
          </mat-form-field>

          <mat-form-field>
            <mat-label>Age</mat-label>
            <input matInput formControlName="age"> 
          </mat-form-field>

          <mat-form-field>
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" name="food">
              @for (gender of genders; track gender) {
                <mat-option [value]="gender">{{gender}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Repeat your password</mat-label>
            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <button (click)="register()" mat-raised-button color="primary">Sign Up</button>
    </form>
    </mat-tab>
  </mat-tab-group>

</div>
