.doctor-card {
  max-width: 400px;
  cursor: pointer;
}

.star {
  color: #e8e812;
  margin-bottom: -5px;
}
.doctor-header-image {
  background-size: cover;
}

.demo-inline-calendar-card {
  width: 100px;
}
