<form>
  <div class="doctor-container">
    <div class="doctor-card">
      <mat-card>

        <mat-card-header style="justify-content: left">
          <img mat-card-avatar alt="Photo of a Doctor" [src]="doctor?.avatar">
          <mat-card-title>{{doctor?.name}} ({{doctor?.speciality}})</mat-card-title>
          <mat-card-subtitle>Patients - {{doctor?.patients}}, Experience - {{doctor?.experience}} years</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>{{doctor?.universities}}</p>
          <hr>
          <p>{{doctor?.description}}</p>
        </mat-card-content>

        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input (dateChange)="onDateChange($event)" placeholder="MM/DD/YYYY" matInput  [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Choose a time</mat-label>
          <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedTime">
            @for (option of doctor?.timingsList; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
            }
          </mat-select>
          <mat-icon matSuffix>schedule</mat-icon>
        </mat-form-field>

        <p>Selected date: {{ formattedDate }}</p>
        <p>Selected time: {{ selectedTime }}</p>
        <button mat-raised-button color="primary" (click)="bookAppointment()">
          <mat-icon>date_range</mat-icon>
          Book Appointment
        </button>
      </mat-card>
    </div>
  </div>
</form>
