<div class="new-doctor-container">
  <h1>Personal Details</h1>

  <mat-form-field>
    <mat-label>Full name</mat-label>
    <input
      type="text"
      matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Avatar(url)</mat-label>
    <input
      type="text"
      matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input
      type="text"
      matInput>
  </mat-form-field>

  <h1>Professional Details</h1>

  <mat-form-field>
    <mat-label>Specializations</mat-label>
    <mat-select [(ngModel)]="selectedSpecialization">
      @for (specialization of specializations; track specialization) {
        <mat-option [value]="specialization.title">{{specialization.title}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Experience(full year)</mat-label>
    <input
      type="number"
      matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Universities</mat-label>
    <input
      type="text"
      matInput>
  </mat-form-field>

  <!-- <mat-form-field>
    <mat-label>Experience(full years)</mat-label>

  </mat-form-field> -->
  <button mat-raised-button color="primary">Add a new doctor</button>
</div>





  