<div class="user-profile-container">
  <div class="edit-user-container">
    <h1>Personal Info</h1>

    <mat-form-field>
      <mat-label>Full name</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="user.fullName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        placeholder="example@gmail.com"
        type="text"
        matInput
        [(ngModel)]="user.email">
    </mat-form-field>
    
    
    <mat-form-field>
      <mat-label>Age(full year)</mat-label>
      <input
        type="number"
        matInput
        [(ngModel)]="user.age">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select [(ngModel)]="user.gender" name="food">
        @for (gender of genders; track gender) {
          <mat-option [value]="gender">{{gender}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

  </div>
  <div class="buttons-container">  
    <button mat-raised-button color="primary" (click)="editUserInfo()">Edit info</button>

    @if (user.email === 'admin@admin.com') {
      <button routerLink="/dashboard" mat-raised-button><mat-icon>dashboard</mat-icon>Dashboard</button>
      <button routerLink="/appointments" mat-raised-button><mat-icon>view_list</mat-icon>Appointments</button>
    }
    
  </div>
</div>