.home-container {
  margin: 8px;
  padding: 4px;
  justify-content: center;
}
//
//.doctor-card-container {
//  display: flex;
//  justify-content: center;
//  flex-wrap: wrap;
//}

.doctor-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;

}
.doctor-card-column {
  flex-basis: 25%;
  padding: 10px;
  @media screen and (max-width: 1044px) {
    flex-basis: 50%;
  }
  @media screen and (max-width: 633px) {
    flex-basis: 100%;
  }

}

//.doctor-card-container {
//  column-count: 3;
//  @media screen and (max-width: 1044px) {
//    column-count: 2;
//  }
//}
