<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Doctors table">
    <table mat-table [dataSource]="doctors" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let doctor"> {{doctor.id}} </td>
      </ng-container>
  
  
      <ng-container matColumnDef="doctor_name">
        <th mat-header-cell *matHeaderCellDef> Doctor Name </th>
        <td mat-cell *matCellDef="let doctor"> {{doctor.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="experience">
        <th mat-header-cell *matHeaderCellDef> Experience </th>
        <td mat-cell *matCellDef="let doctor"> {{doctor.experience}} </td>
      </ng-container>
  
      <ng-container matColumnDef="patients">
        <th mat-header-cell *matHeaderCellDef> Patients </th>
        <td mat-cell *matCellDef="let doctor"> {{doctor.patients}} </td>
      </ng-container>
  
      <ng-container matColumnDef="speciality">
        <th mat-header-cell *matHeaderCellDef> Speciality </th>
        <td mat-cell *matCellDef="let doctor"> {{doctor.speciality}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
       class="doctor-column"
       (click)="selectDoctorEditorTab(doctor.id)"
       mat-row *matRowDef="let doctor; columns: displayedColumns;"></tr>
    </table>
  </mat-tab>

  <mat-tab label="Doctor Editor">
    <div class="dashboard-container">
      <div class="new-doctor-container">
        <h1>Personal Details</h1>
    
        <mat-form-field>
          <mat-label>Full name</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="selectedDoctor.name">
        </mat-form-field>
        
        <div style="display: flex; justify-content: center;">
          <img style="max-width: 200px;" mat-card-avatar alt="Photo of a Doctor" [src]="selectedDoctor.avatar">
        </div>

        <mat-form-field>
          <mat-label>Avatar(url)</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="selectedDoctor.avatar">
        </mat-form-field>

        

        <mat-form-field class="example-full-width">
          <mat-label>Description</mat-label>
          <textarea 
            matInput
            placeholder="I'm a gynecology specialist..." 
            [(ngModel)]="selectedDoctor.description"></textarea>
        </mat-form-field>
    
        <h1>Professional Details</h1>
    
        <mat-form-field>
          <mat-label>Specializations</mat-label>
          <mat-select [(ngModel)]="selectedDoctor.speciality">
            @for (category of categories; track category) {
              <mat-option [value]="category.title">{{category.title}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Experience(full year)</mat-label>
          <input
            type="number"
            matInput
            [(ngModel)]="selectedDoctor.experience">
        </mat-form-field>
    
        <mat-form-field>
          <mat-label>Universities</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="selectedDoctor.universities">
        </mat-form-field>
    
        <mat-form-field>
          <mat-label>Timings work</mat-label>
          <mat-select [formControl]="timings" multiple>
            @for (timing of timingsList; track timing) {
              <mat-option [value]="timing">{{timing}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      
      <input matInput>
      <button>Add a new Timing Work</button>

      <div class="buttons-container">  
        <button (click)="addDoctor()" mat-raised-button color="primary">Add a new doctor</button>
        <button (click)="editDoctor()" mat-raised-button color="primary">Edit doctor</button>
        <button (click)="deleteDoctor()" mat-raised-button color="warn">Delete doctor</button>
      </div>
    </div>
  </mat-tab>

</mat-tab-group>








  