.new-doctor-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

table {
  width: 100%;
  margin-bottom: 30px;
  overflow: auto;
  flex-grow: 1;
}

.dashboard-container {
  overflow: hidden;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.doctor-column {
  cursor: pointer;
  transform: translateY(0);
  transition: transform 0.1s ease-in-out;
  &:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }
}