<mat-card class="appointment-card">
  <mat-card-header>
    <img mat-card-avatar alt="Photo of a Doctor" src="https://cloudflare-ipfs.com/ipfs/Qmd3W5DuhgHirLHGVixi6V76LhCkZUz6pnFt5AJBiyvHye/avatar/848.jpg">
    <mat-card-title>Dr. Wendy Yii</mat-card-title>
    <mat-card-subtitle>Dermatology</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p><mat-icon class="icon">date_range</mat-icon>Tuesday, 11/07/2023</p>
    <p><mat-icon class="icon">schedule</mat-icon>10:00 AM</p>
  </mat-card-content>

  <mat-card-actions class="mat-card-actions">
    <button mat-raised-button color="warn">Cancel</button>
    <button mat-raised-button color="primary">Completed</button>
  </mat-card-actions>
</mat-card>
