<mat-card class="appointment-card">
  <mat-card-header>
    <img mat-card-avatar [alt]="doctor.name" [src]="doctor.avatar">
    <mat-card-title>{{doctor.name}}</mat-card-title>
    <mat-card-subtitle>{{doctor.speciality}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p><mat-icon class="icon">date_range</mat-icon>{{appointment.date}}</p>
    <p><mat-icon class="icon">schedule</mat-icon>{{appointment.time}}</p>
  </mat-card-content>

  <mat-card-actions class="mat-card-actions" [ngSwitch]="eventTime">
    
    <ng-template ngSwitchCase="Upcoming">
      <button mat-raised-button color="warn">Cancel</button>
      <button mat-raised-button color="primary">Complete</button>
    </ng-template>
    
    <ng-template ngSwitchCase="Completed">
      <button mat-flat-button color="accent" disabled>Completed!</button>
    </ng-template>

    <ng-template ngSwitchCase="Canceled">
      <button mat-flat-button disabled>Canceled</button>
    </ng-template>

  </mat-card-actions>
</mat-card>
