<mat-tab-group mat-align-tabs="start">

  <mat-tab label="Upcoming">
    <div class="doctor-card-container">
      <div class="doctor-card-column" *ngFor="let doctor of doctors">
        <app-appointment-today eventTime="Upcoming"></app-appointment-today>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Completed">
    <div class="doctor-card-container">
      <div class="doctor-card-column" *ngFor="let doctor of doctors">
        <app-appointment-today eventTime="Completed"></app-appointment-today>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Canceled">
    <div class="doctor-card-container">
      <div class="doctor-card-column" *ngFor="let doctor of doctors">
        <app-appointment-today eventTime="Canceled"></app-appointment-today>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
