<mat-card class="doctor-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{doctorInfo?.name}}</mat-card-title>
      <mat-card-subtitle>{{doctorInfo?.speciality}}</mat-card-subtitle>
      <img mat-card-md-image [src]="doctorInfo?.avatar" >
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-footer>
    <div style="flex-direction: row; display: flex; justify-content: center">
      <button mat-raised-button color="primary" class="button" routerLink="doctor/id/rewievs">Feedback</button>
        <button mat-raised-button color="primary" class="button" [routerLink]="['/doctor', doctorInfo?.id]">Appointment</button>
    </div>
  </mat-card-footer>
</mat-card>
